{% extends 'base.html.twig' %}
{% block stylesheet %}
    {{ parent()}}
     <link rel="stylesheet" href="{{asset('GNUASSETS/plugins/datatables/dataTables.bootstrap.css')}}">  
{% endblock%}

{% block content %}
    {{ parent()}}


        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Gestion des utilisateurs
          </h1>
         
        </section>
        
    <section class="content">
        <div class="row">
           <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                  <h3 class="box-title">Listes des utilisateurs</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <table id="example2" class="table table-striped table-bordered table-hover table-responsive">
                    <thead>
                      <tr>
                        <th>Id</th>                              
                        <th>Email</th>
                        <th>Login</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                       {% for user in users %}
                                <tr>
                                    <td>{{ user.id }}</td>
                                    
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.username }}</td>
                                    
                                   
                                    <td>
                                        <a  class="confirmModal"   href="{{ path('delete_user',{id:user.id})}}"   title="Supprimer  Cet Utilisateur"><i class="fa fa-trash"></i></a>
                                        <a  class="confirmModal"   href="{{ path('edit_user',{id:user.id})}}"  title="Modifier  Cet Utilisateur"><i class="fa fa-edit"></i></a>
                                        
                                        
                                    </td>

                                </tr>
                            {% endfor %}
                      </tbody>
          
                  </table>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!-- /.col -->
          </div><!-- /.row -->
        </section><!-- /.content -->

{% endblock %}



{% block javascript %}
    {{ parent()}}
     
    <script src="{{asset('GNUASSETS/plugins/datatables/jquery.dataTables.min.js')}}"></script>
    <script src="{{asset('GNUASSETS/plugins/datatables/dataTables.bootstrap.min.js')}}"></script>
     <script>
        $(function () {

            $('#example2').DataTable({
                "order": [[0, "desc"]],
                "autoWidth": true,
                "responsive": true,
                "oLanguage": {
                    "sSearch": "Rechercher",
                    "sLengthMenu": "Afficher _MENU_ Par Page",
                    "sZeroRecords": "<center style=\"color:blue;\">Vous n`avez aucun utilisateur</center>",
                    "sInfo": "afficher _START_ à _END_ de _TOTAL_",
                    "sInfoEmpty": " ",
                    "sInfoFiltered": "(filtered from _MAX_ total )",
                    "oPaginate": {
                        "sFirst": "Premier",
                        "sLast": "LDernier",
                        "sNext": "Suivant",
                        "sPrevious": "Précédent"
                    }
                }
            });
        });
    </script>
{% endblock%}
