{% extends 'base.html.twig' %}
{% block stylesheet %}
    {{ parent()}}

{% endblock%}
{% block content %}
    <section class="content">

      

      
     <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- general form elements -->
              <div class="panel panel-primary">
                <div class="box-header with-border">
                  <h3 class="box-title">Nouveau hôtel</h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                
                <form method="post" action="{{ path('create_hotel')}}" role="form">
                <div class="box-body">
                    <div class="form-group">
                      
                       {{ form_label(form.nomHotel) }}   
                       {{ form_widget(form.nomHotel, { 'attr': {'type': 'text', 'class': 'form-control', 'placeholder': 'Nom d`hôtel'} }) }}
                       {{ form_errors(form.nomHotel) }}                 
                    </div>

                    <div class="form-group input-group">
                      <label>Catégorie</label>
                      {{ form_widget(form.categorie, { 'attr': { 'class': 'form-control', 'placeholder': 'Catégorie d`hôtel'} }) }}
                        {{ form_errors(form.categorie) }}
                      <select class="form-control">
                        <option>option 1</option>
                        <option>option 2</option>
                        <option>option 3</option>
                        <option>option 4</option>
                        <option>option 5</option>
                      </select>
                    </div>
                       {{ form_rest(form) }}
                   <div>
                            <input class="btn  btn-default" type="submit" value="{{ 'Valider' }}">
                            <input class="btn  btn-default" type="reset" value="{{ 'Annuler' }}">
                       
                    </div>                  
                </div>
                </form>
               
              </div><!-- /.box -->
             </div><!--/.col (right) -->
          </div>   <!-- /.row -->
                        
                        
    </section> 

{% endblock %}
{% block javascript %}
    {{ parent()}}
{% endblock%}