{% extends 'base.html.twig' %}
{% block stylesheet %}
    {{ parent()}}
    <!-- Select2 -->
    <link rel="stylesheet" href="{{asset('GNUASSETS/plugins/select2/select2.min.css')}}">
{% endblock%}
{% block content %}
    <section class="content">

      

      
     <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- general form elements -->
              <div class="panel panel-primary">
                <div class="box-header with-border">
                  <h3 class="box-title">Nouveau hôtel</h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                
                <form method="post" action="{{ path('create_hotel')}}" role="form">
                <div class="box-body">
                    <div class="form-group">
                       {{ form_label(form.nomHotel) }}   
                       {{ form_widget(form.nomHotel, { 'attr': {'type': 'text', 'class': 'form-control', 'placeholder': 'Nom d`hôtel'} }) }}
                       {{ form_errors(form.nomHotel) }}
                    </div>
                    
                    <p>{{ form_label(form.categorie) }}</p>
                    <div class="form-group input-group col-md-12">                         
                        {{ form_widget(form.categorie, { 'attr': {'id':'cat', 'class': 'form-control select2', 'style':'width: 100%;', 'placeholder': 'Catégorie'} }) }}
                            {{ form_errors(form.categorie) }}
                        <span class="input-group-btn">
                          <button id="pluscat" class="btn btn-primary dropdown-toggle" type="button" onclick="getNewValueSelect('categorie');"><i class="fa  fa-plus"></i></button>
                        </span>
                    </div>

                    <p>{{ form_label(form.ville) }}</p>  
                    <div class="form-group input-group col-md-12">
                        {{ form_widget(form.ville, { 'attr': {'id':'ville', 'class': 'form-control select2', 'style':'width: 100%;', 'placeholder': 'Ville'} }) }}
                        {{ form_errors(form.ville) }}
                      <span class="input-group-btn">
                        <button id="plusville" class="btn btn-primary dropdown-toggle" type="button" onclick="getNewValueSelect('ville');" ><i class="fa  fa-plus"></i></button>
                      </span>
                    </div>

       
                    <div class="form-group input-group col-md-12">
                      <label>Description</label>
                      {{ form_widget(form.descrip, { 'attr': { 'class': 'form-control', 'placeholder': 'Description'} }) }}
                        {{ form_errors(form.descrip) }}
                    
                    </div>
                        
                           <div class="form-group input-group col-md-12">
                      <label>Description</label>
                      {{ form_widget(form.details, { 'attr': { 'class': 'form-control', 'placeholder': 'Détails'} }) }}
                        {{ form_errors(form.details) }}
                    
                    </div>
                        
                           <div class="form-group input-group col-md-12">
                      <label>Image 1</label>
                      {{ form_widget(form.img1, { 'attr': { 'class': 'form-control', 'placeholder': 'Img1'} }) }}
                        {{ form_errors(form.img1) }}
                    
                    </div>
                        
                          <div class="form-group input-group col-md-12">
                      <label>Image 2</label>
                      {{ form_widget(form.img2, { 'attr': { 'class': 'form-control', 'placeholder': 'Img2'} }) }}
                        {{ form_errors(form.img2) }}
                    
                    </div>
                         <div class="form-group input-group col-md-12">
                      <label>Image 3</label>
                      {{ form_widget(form.img3, { 'attr': { 'class': 'form-control', 'placeholder': 'Img3'} }) }}
                        {{ form_errors(form.img3) }}
                    
                    </div>
                         <div class="form-group input-group col-md-12">
                      <label>Image 4</label>
                      {{ form_widget(form.img4, { 'attr': { 'class': 'form-control', 'placeholder': 'Img4'} }) }}
                        {{ form_errors(form.img4) }}
                    
                    </div>
                         <div class="form-group input-group col-md-12">
                      <label>Promotion</label>
                      {{ form_widget(form.promotion, { 'attr': { 'class': 'form-control', 'placeholder': 'Promotion'} }) }}
                        {{ form_errors(form.promotion) }}
                    
                    </div>
                         <div class="form-group input-group col-md-12">
                      <label>Disponible</label>
                      {{ form_widget(form.dispo, { 'attr': { 'class': 'form-control', 'placeholder': 'Disponible'} }) }}
                        {{ form_errors(form.dispo) }}
                    
                    </div>
                          <div class="form-group input-group col-md-12">
                      <label>Age Min</label>
                      {{ form_widget(form.age_min, { 'attr': { 'class': 'form-control', 'placeholder': 'age_min'} }) }}
                        {{ form_errors(form.age_min) }}
                    
                    </div>
                          <div class="form-group input-group col-md-12">
                      <label>Age Min</label>
                      {{ form_widget(form.age_max, { 'attr': { 'class': 'form-control', 'placeholder': 'age_max'} }) }}
                        {{ form_errors(form.age_max) }}
                    
                    </div>
                       {{ form_rest(form) }}
                   <div>
                            <input class="btn  btn-default" type="submit" value="{{ 'Valider' }}">
                            <input class="btn  btn-default" type="reset" value="{{ 'Annuler' }}">
                       
                    </div>                  
                </div>
                </form>
               
              </div><!-- /.box -->
             </div><!--/.col (right) -->
          </div>   <!-- /.row -->
                        
                        
    </section> 

{% endblock %}
{% block javascript %}
    {{ parent()}}
        <script src="{{asset('GNUASSETS/plugins/select2/select2.full.min.js')}}"></script>
     <script>
      $(function () {
        //Initialize Select2 Elements
        $(".select2").select2();
        
          });
          var newValueCat=null;
          var newValueVille=null;
           function getAutoComplete() {
     //    var value=$(".select2").select2('data')[0]['text'];
     //   alert(value);
    //   alert(document.getElementsByClassName("select2-search__field").length);
    //var test =document.getElementById("autocat").value;
   
     newValue = document.getElementById("autoComplete").value;
 // document.getElementById("demo").innerHTML = x;
 //alert("hmd"+x);
    }
    
    function getNewValueSelect(value) {
        newValueVille=null;
        newValueCat=null; 
        if(value=='categorie')
        {
            newValueCat=newValue;  
        }
        else if(value=='ville')
        {
            newValueVille=newValue;
        }
        alert('ville'+newValueVille);
        alert('cat'+newValueCat);
    }
        </script>
{% endblock%}