{% extends 'base.html.twig' %}
{% block stylesheet %}
    {{ parent()}}
    <!-- Select2 -->
    <link rel="stylesheet" href="{{asset('GNUASSETS/plugins/select2/select2.css')}}">
    <link rel="stylesheet" href="{{asset('GNUASSETS/plugins/iCheck/all.css')}}">
    <style type="text/css">
        [class^='select2'] {
            border-radius: 0px !important;
        }
    </style>    
{% endblock%}
{% block content %}
    {{ parent() }}
    <section class="content">        
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="panel panel-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Détails hôtel</h3>
                    </div><!-- /.box-header -->
                    <!-- form start -->

                    <form id="formDetails" method="post" action="{{path('add_details_hotel')}}" role="form">
                    <div class="box-body">                                  
                         <div class="form-group input-group col-md-12">
                             <label>{{ form_label(form.hotel) }}</label>
                            {{ form_widget(form.hotel, { 'attr': {'class': 'form-control hotel select2', 'style':'width: 100%;', 'placeholder': 'Catégorie'} }) }}
                            {{ form_errors(form.hotel) }}
                         </div><!-- /.form-group -->


                         <div class="form-group">
                             <label>{{ form_label(form.ville) }}</label>
                             {{ form_widget(form.ville, { 'attr': {'class': 'form-control ville'} }) }}
                             {{ form_errors(form.ville) }}
                         </div>

                         <div class="box-header">
                           <h3 class="box-title">{{ form_label(form.chambre) }}</h3>
                           {{ form_widget(form.chambre, {'attr': {'class': 'form-control chambre minimal'}}) }}                      
                           
                           {{ form_errors(form.chambre) }}
                         </div> 
                         
                         <div class="box-header">
                           <h3 class="box-title">{{ form_label(form.reduction) }}</h3>
                           {{ form_widget(form.reduction, { 'attr': {'class': 'form-control reduction  minimal'} }) }}
                           {{ form_errors(form.reduction) }}
                         </div>

                         <div class="box-header">
                           <h3 class="box-title">{{ form_label(form.arrangement) }}</h3>
                           {{ form_widget(form.arrangement, { 'attr': {'class': 'form-control arrangement  minimal'} }) }}
                           {{ form_errors(form.arrangement) }}
                         </div>

                         <div class="box-header">
                           <h3 class="box-title">{{ form_label(form.themes) }}</h3>
                          
                           {{ form_widget(form.themes, { 'attr': {'class': 'form-control theme  minimal'} }) }}
                           {{ form_errors(form.themes) }}
                         </div>
                         <div class="box-body">

                           {{ form_rest(form) }}
                        <div>
                            <input class="btn  btn-default" type="submit" value="{{ 'Valider' }}">
                            <input class="btn  btn-default" type="reset" value="{{ 'Annuler' }}">          
                        </div>   

                    </form>

                </div><!-- /.box -->
            </div><!--/.col (right) -->
        </div>   <!-- /.row -->


    </section> 

{% endblock %}
{% block javascript %}
    {{ parent()}}
    <script src="{{asset('GNUASSETS/plugins/select2/select2.full.min.js')}}"></script>
    <script src="{{asset('GNUASSETS/plugins/iCheck/icheck.min.js')}}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <!-- iCheck 1.0.1 -->
    <script src="{{ asset('GNUASSETS/plugins/iCheck/icheck.min.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".select2").select2();
            
        //iCheck for checkbox and radio inputs
        $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
          checkboxClass: 'icheckbox_minimal-blue',
          radioClass: 'iradio_minimal-blue'
        });
        $("#form_hotel").change(function (){
            
            if($("#form_hotel").val().length !==null){
                 $.ajax({
                   type: 'POST',
                   url: Routing.generate('get_ville_hotel'),
                   dataType: "json",
                   data: {
                      hotel:$("#form_hotel").val()
                   },
                   success: function (data)
                   { 
                    //$("#formDetails")[0].reset();
                     $('input:checkbox').removeAttr('checked');
                     $("#form_arrangement").val("");
                     $( '#form_themes' ).val("");
                   $("#form_ville").val(data[0]);
                   var chambres=data[1];
                   for (i = 0; i < chambres.length; ++i) {
                        
                        $( '#form_chambre_'+chambres[i] ).prop( "checked", true );
                    }
                    
                     var reductions=data[2];
                   for (i = 0; i < reductions.length; ++i) {
                        
                        $( '#form_reduction_'+reductions[i] ).prop( "checked", true );
                    }
                    
                    var arrangements=data[3];
                    $( '#form_arrangement' ).val(arrangements);
                   
                    var themes=data[4];
                    $( '#form_themes' ).val(themes);
                   
                   }
               });
                
            }
       
        });
          
        });
    </script>
{% endblock%}
