{% extends 'base.html.twig' %}
{% block stylesheet %}
    {{ parent()}}
    <!-- Select2 -->
    <link rel="stylesheet" href="{{asset('GNUASSETS/plugins/select2/select2.css')}}">
    <style type="text/css">
        [class^='select2'] {
            border-radius: 0px !important;
        }
    </style>
{% endblock%}
{% block content %}
    <section class="content">        
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="panel panel-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Edition hôtel</h3>
                    </div><!-- /.box-header -->
                    <!-- form start -->

                    <form method="post" action="{{ path('update_hotel',{id:entity.id})}}" role="form" enctype="multipart/form-data">
                        <div class="box-body">
                            <div class="form-group">
                                {{ form_label(form.nomHotel) }}   
                                {{ form_widget(form.nomHotel, { 'attr': {'type': 'text', 'class': 'form-control', 'placeholder': 'Nom'} }) }}
                                {{ form_errors(form.nomHotel) }}
                            </div>

                            <p>{{ form_label(form.categorie) }}</p>
                            <div class="form-group input-group col-md-12">                         
                                {{ form_widget(form.categorie, { 'attr': {'id':'cat', 'class': 'form-control categorie select2','onChange':'selectedCategorie();', 'style':'width: 100%;', 'placeholder': 'Catégorie'} }) }}
                                {{ form_errors(form.categorie) }}
                                <span class="input-group-btn">
                                    <button id="pluscat" class="btn btn-primary dropdown-toggle btn-sm" type="button" onclick="getNewValueSelect('categorie');"><i class="fa  fa-plus"></i></button>
                                    
                                </span>
                            </div>

                            <p>{{ form_label(form.ville) }}</p>  
                            <div class="form-group input-group col-md-12">
                                {{ form_widget(form.ville, { 'attr': {'id':'ville', 'class': 'form-control villes select2', 'onChange':'selectedVille();','style':'width: 100%;', 'placeholder': 'Ville'} }) }}
                                {{ form_errors(form.ville) }}
                                <span class="input-group-btn">
                                    <button id="plusville" class="btn btn-primary dropdown-toggle btn-sm" type="button" onclick="getNewValueSelect('ville');" ><i class="fa  fa-plus"></i></button>
                                   
                                </span>
                            </div>

                            <div class="form-group input-group col-md-12">
                                <label>Remarque</label>
                                {{ form_widget(form.promotion, { 'attr': { 'class': 'form-control', 'placeholder': 'Remarque'} }) }}
                                {{ form_errors(form.promotion) }}                   
                            </div> 

                            <!-- view img start -->
                            <div class="form-group input-group col-md-12">                              
                                <div class="row">
                                <div class="col-xs-12">
                                    <div class="box box-warning">
                                        <div class="box-header">
                                            <h3 class="box-title">Liste des images</h3>
                                        </div><!-- /.box-header -->
                                        <div class="box-body">
                                            <table id="table1" class="table table-striped table-bordered table-hover table-responsive">
                                            <thead>
                                            <tr>
                                                <th>Image</th>                              
                                                <th>Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for image in entity.images %}
                                            <tr>
                                                <td>
                                                    <img src="{{ asset(image.webPath) }}" alt=""style="max-height: 40px;">
                                                </td>
                                                <td>
                                                    <a id="{{ image.id }}" class="btn btn-danger fa fa-trash" href="#" ></a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                            </table>
                                        </div><!-- /.box-body -->
                                    </div><!-- /.box -->
                                </div><!-- /.col -->
                            </div><!-- /.row -->
                            </div>
                            <!-- view img end -->
                            
                            <!-- add img start -->
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="box box-success">
                                        <div id="id-box-body" class="box-body"> 
                                        {{ form_widget(form.imagess, { 'attr': { 'placeholder': 'images'} }) }}
                                        {{ form_errors(form.imagess) }}
                                         </div><!-- /.box-body -->
                                    </div><!-- /.box -->
                                </div><!-- /.col -->
                            </div><!-- /.row -->
                            <!-- add img end -->                           

                                <div class="form-group input-group col-md-12">
                                    <label>Description</label>
                                    {{ form_widget(form.descrip, { 'attr': { 'class': 'form-control', 'placeholder': 'Description'} }) }}
                                    {{ form_errors(form.descrip) }}

                                </div>

                                <div class="form-group input-group col-md-12">
                                    <label>Détails</label>
                                    {{ form_widget(form.details, { 'attr': { 'class': 'form-control', 'placeholder': 'Détails'} }) }}
                                    {{ form_errors(form.details) }}

                                </div>

                                <div class="form-group input-group col-md-12">
                                    <label>Age enfant</label>
                                    {{ form_widget(form.age_min, { 'attr': { 'class': 'form-control', 'placeholder': 'Min'} }) }}
                                    {{ form_errors(form.age_min) }}
                                </div>
                                <div class="form-group input-group col-md-12">
                                    {{ form_widget(form.age_max, { 'attr': { 'class': 'form-control', 'placeholder': 'Max'} }) }}
                                    {{ form_errors(form.age_max) }}
                                </div>
                                <div class="form-group input-group col-md-12">
                                    <label>Latitude</label>
                                    {{ form_widget(form.latitude, { 'attr': { 'class': 'form-control', 'placeholder': 'latitude'} }) }}
                                    {{ form_errors(form.latitude) }}
                                </div>
                                <div class="form-group input-group col-md-12">
                                    <label>Longtitude</label>
                                    {{ form_widget(form.longtitude, { 'attr': { 'class': 'form-control', 'placeholder': 'longtitude'} }) }}
                                    {{ form_errors(form.longtitude) }}
                                </div>

                                {{ form_rest(form) }}
                                <div>
                                    <input class="btn  btn-default" type="submit" value="{{ 'Valider' }}">
                                    <input class="btn  btn-default" type="reset" value="{{ 'Annuler' }}">          
                                </div>                  
                            </div>
                    </form>

                </div><!-- /.box -->
            </div><!--/.col (right) -->
        </div>   <!-- /.row -->


    </section> 

{% endblock %}
{% block javascript %}
    {{ parent()}}
    <script src="{{asset('GNUASSETS/plugins/select2/select2.full.min.js')}}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    <script>
    var newValueCat = null;
    var newValueVille = null;
    //cette methode est appelle dans le fichier select2.full.min.js 
    function getAutoComplete() {
        //    var value=$(".select2").select2('data')[0]['text'];
        newValue = document.getElementById("autoComplete").value;
        // document.getElementById("demo").innerHTML = x;
        //alert("hmd"+x);
    }

    function getNewValueSelect(value) {
        newValueVille = null;
        newValueCat = null;
        if (value === 'categorie')
        {


            newValueCat = newValue;
            //Début Requete ajax
            $.ajax({
                type: 'POST',
                url: Routing.generate('add_categorie'),
                dataType: "json",
                data: {
                    categorie: newValueCat
                },
                success: function (data)
                {

                    $("#hotel_categorie").append('<option value="' + data + '">' + data + '</option>');

                }
            });
            //Fin requete

        } else if (value === 'ville')
        {
            newValueVille = newValue;
            //Début Requete ajax
            $.ajax({
                type: 'POST',
                url: Routing.generate('add_ville'),
                dataType: "json",
                data: {
                    ville: newValueVille
                },
                success: function (data)
                {

                    $("#hotel_ville").append('<option value="' + data + '">' + data + '</option>');
                    $("#hotel_ville").append('<option value="' + data + '">' + data + '</option>');

                }
            });
            //Fin requete

        }

    }


    function selectedCategorie() {
        var value = $(".categorie").select2('data')[0]['text'];
    }
    function deleteValueSelect() {
        var valueDeleted = $(".categorie").select2('val');
        //alert(valueDeleted);
        if(valueDeleted===null){
            alert("null");
        }else{
              $.ajax({
            type: 'POST',
            url: Routing.generate('delete_categorie'),
            dataType: "json",
            data: {
                categorie: valueDeleted
            },
            success: function (data)
            {

                //$("#hotel_ville").append('<option value="'+data+'">'+data+'</option>');
                $("#hotel_categorie option[value='" + data + "']").remove();
                $(".categorie").select2('val', null);

            }
        });
        }



    }
    function selectedVille() {
        var value = $(".villes").select2('data')[0]['text'];



    }
    function deleteVilleSelect() {
        var valueDeleted = $(".villes").select2('val');
        alert(valueDeleted);

        $.ajax({
            type: 'POST',
            url: Routing.generate('delete_ville'),
            dataType: "json",
            data: {
                ville: valueDeleted
            },
            success: function (data)
            {

                //$("#hotel_ville").append('<option value="'+data+'">'+data+'</option>');
                $("#hotel_ville option[value='" + data + "']").remove();
                $(".villes").select2('val', null);

            }
        });

    }
    </script>

    <script type="text/javascript">

        $(document).ready(function () {
            $(".select2").select2();
           
             $("#hotel_edit_categorie").select2("val", {{entity.categorie.id}});
              $("#hotel_edit_ville").select2("val", {{entity.ville.id}});
            //upload images
            // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
            var $container = $('div#hotel_edit_imagess');
            var $prototype = null;
            if ($container.length === 0) {
                $container = $('div#hotel_edit_imagess');
            }

            if ($container.length === 0) {
                $container = $('');
            }

            // On ajoute un lien pour ajouter une nouvelle image
            var $lienAjout = $('<a href="#" id="ajout_image" class="btn btn-success">Ajouter une image</a><br /><br />');
            $container.append($lienAjout);
            var $col1 = '';
            var $col2 = '';
            var $table = $('<table id="example2" class="table table-striped table-bordered table-hover table-responsive"><thead><tr><th>Images</th><th>Action</th></tr></thead><tbody><tr><td>' + $col1 + '</td><td>' + $col2 + '</td></tr>');
            $container.append($table);
            var $tableend = $('</tbody></table>');

            // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
            $lienAjout.click(function (e) {
                ajouterImage($container);
                e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                return false;
            });

            // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
            var index = $container.find(':input').length;

            if (index > 0) {
                // Pour chaque image déjà existante, on ajoute un lien de suppression
                $container.children('div').each(function () {
                    ajouterLienSuppression($(this));
                });
            }

            // La fonction qui ajoute un formulaire Image
            function ajouterImage($container) {
                // Dans le contenu de l'attribut « data-prototype », on remplace :
                // - le texte "__name__label__" qu'il contient par le label du champ
                // - le texte "__name__" qu'il contient par le numéro du champ
                $prototype = $($container.attr('data-prototype').replace(/__name__label__/g, 'Image n°' + (index + 1))
                        .replace(/__name__/g, index));
                $('#example2 tbody').append($("#example2 tbody tr:last").clone());
                // On ajoute au prototype un lien pour pouvoir supprimer la image
                ajouterLienSuppression($prototype);

                // On ajoute le prototype modifié à la fin de la balise <div>
                $('#example2 tbody tr:last td:first').html($prototype);
                $container.append($tableend);
                // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
                index++;
            }

            // La fonction qui ajoute un lien de suppression d'une image
            function ajouterLienSuppression($prototype) {
                // Création du lien
                $lienSuppression = $('<a id="remCF" href="#" class="btn btn-danger fa fa-trash"></a>');
                // Ajout du lien
                $('#example2 tbody tr:last td:last').html($lienSuppression);

                // Ajout du listener sur le clic du lien
                $lienSuppression.click(function (e) {
                    $prototype.remove();
                    $(this).parent().parent().remove();
                    e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                    return false;
                });
            }


            function removeRow(row) {
                row.preventDefault();
                row.closest('tr').remove();
            }

            $('#table1').on('click', 'tr a', function (e) {
                var id = $(this).prop('id');
                e.preventDefault();
                $(this).parents('tr').remove();
                $.ajax({
                    type: 'POST',
                    url: Routing.generate('delete_picture'),
                    dataType: "json",
                    data: {
                        id: id

                    },
                    success: function (data)
                    {


                    }
                });

            });

            /*$("#add_picture").on('click',function (){
             //$table='<table id="example2" class="table table-striped table-bordered table-hover table-responsive"><thead><tr><th>Images</th><th>Action</th></tr></thead><tbody><tr><td>' '</td><td>' '</td></tr></table>';
             
             //alert("clicked");
             }
             );*/

        });
    </script>
{% endblock%}
