{% extends 'base.html.twig' %}
{% block stylesheet %}
    {{ parent()}}  
{% endblock%}
{% block content %}
    <section class="content">        
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="panel panel-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Tarif</h3>
                    </div><!-- /.box-header -->
                    <!-- form start -->

                    <form id="formDetails" method="post" action="{{path('update_tarif',{id:entity.id})}}" role="form">
                    <div class="box-body">     
                        <div class="form-group">
                                {{ form_label(form.tempsd) }}   
                                {{ form_widget(form.tempsd,{'attr': {'type': 'text', 'class': 'form-control tempsd', 'readonly':'readonly','placeholder': ''} })}}
                                {{ form_errors(form.tempsd) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.tempsf) }}   
                                {{ form_widget(form.tempsf, { 'attr': {'type': 'text', 'class': 'form-control tempsf', 'readonly':'readonly', 'placeholder': ''} }) }}
                                {{ form_errors(form.tempsf) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.tarifBase) }}   
                                {{ form_widget(form.tarifBase, { 'attr': {'type': 'text', 'class': 'form-control', 'placeholder': ''} }) }}
                                {{ form_errors(form.tarifBase) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.delaiRetro) }}   
                                {{ form_widget(form.delaiRetro, { 'attr': {'type': 'text', 'class': 'form-control', 'placeholder': ''} }) }}
                                {{ form_errors(form.delaiRetro) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.allot) }}   
                                {{ form_widget(form.allot, { 'attr': {'type': 'text', 'class': 'form-control', 'placeholder': ''} }) }}
                                {{ form_errors(form.allot) }}
                            </div>
                            
                            <div class="form-group">
                                <div class="row">
                                    {% for c in entity.hotel.detailschambre %}
                                        {% if c.chambre.id=='1'%}
                                    <div class="col-md-2">
                                        <label>Chambre Single</label> 
                                {{ form_widget(form.nbChambs, { 'attr': {'type': 'text', 'class': 'form-control', 'placeholder': ''} }) }}
                                {{ form_errors(form.nbChambs) }}
                                    </div>
                                    
                                     {% elseif c.chambre.id=='2'%}
                                     <div class="col-md-2">
                                         <label>Chambre Double</label>  
                                {{ form_widget(form.nbChambd, { 'attr': {'type': 'text', 'class': 'form-control', 'placeholder': ''} }) }}
                                {{ form_errors(form.nbChambd) }}
                                    </div>
                                    {% elseif c.chambre.id=='3'%}
                                     <div class="col-md-2">
                                         <label>Chambre Triple</label> 
                                {{ form_widget(form.nbChambt, { 'attr': {'type': 'text', 'class': 'form-control', 'placeholder': ''} }) }}
                                {{ form_errors(form.nbChambt) }}
                                    </div>
                                    {% elseif c.chambre.id=='4'%}
                                     <div class="col-md-2">
                                         <label>Chambre Quadri</label> 
                                {{ form_widget(form.nbChambq, { 'attr': {'type': 'text', 'class': 'form-control', 'placeholder': ''} }) }}
                                {{ form_errors(form.nbChambq) }}
                                    </div>
                                  {% endif %}
                                    {% endfor %}
                                  
                                </div>
                                    </br>  
                            <div class="form-group">
                                <div class="row">
                                    {% for r in  entity.hotel.detailsreduction %}
                                        {% if r.reduction.id=='1'%}
                                    <div class="col-md-3">
                                <label>Réduction enfant plus 2 adultes</label> <em>(%)</em>  
                                {{ form_widget(form.reduc1, { 'attr': {'type': 'text', 'class': 'form-control', 'placeholder': ''} }) }}
                                {{ form_errors(form.reduc1) }}
                                    </div>
                                   {% elseif r.reduction.id=='2'%}
                                     <div class="col-md-3">
                               <label>Réduction enfant plus 1 adulte</label> <em>(%)</em>    
                                {{ form_widget(form.reduc2, { 'attr': {'type': 'text', 'class': 'form-control', 'placeholder': ''} }) }}
                                {{ form_errors(form.reduc2) }}
                                    </div>
                                    {% elseif r.reduction.id=='3'%}
                                     <div class="col-md-3">
                               <label>Réduction enfant chambre séparer</label>  <em>(%)</em> 
                                {{ form_widget(form.reduc3, { 'attr': {'type': 'text', 'class': 'form-control', 'placeholder': ''} }) }}
                                {{ form_errors(form.reduc3) }}
                                    </div>
                                   {% elseif r.reduction.id=='4'%}
                                     <div class="col-md-2">
                              <label>Réduction 3 éme lit</label> <em>(%)</em>  
                                {{ form_widget(form.reduc4, { 'attr': {'type': 'text', 'class': 'form-control', 'placeholder': ''} }) }}
                                {{ form_errors(form.reduc4) }}
                                    </div>
                                    {% elseif r.reduction.id=='5'%}
                                     <div class="col-md-2">
                               <label>Réduction 4 éme lit</label> <em>(%)</em>   
                                {{ form_widget(form.reduc5, { 'attr': {'type': 'text', 'class': 'form-control', 'placeholder': ''} }) }}
                                {{ form_errors(form.reduc5) }}
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                  
                                </div>
                            </div>
                                    
                            <div class="form-group">
                            <table class="table table-striped table-bordered table-hover table-responsive">
                                 {% set ar1 = '0' %}
                                 {% set ar2 = '0' %}
                                 {% set ar3 = '0' %}
                                 {% set ar4 = '0' %}
                                 {% set ar5 = '0' %}
                                 {% set ar6 = '0' %}
                                 {% set ar7 = '0' %}
                                 {% set ar8 = '0' %}
                                 {% set ar9 = '0' %}
                            {% for ar in  detailsarrangement%}
                                {% if ar.arrangement.id=='1' and ar1!='1' %}
                                    {% set ar1 = '1' %}
                            <tr>
                                <td>
                                     {{ form_widget(form.suppLpd, { 'attr': {'type': 'text', 'class': 'form-control', 'placeholder': ''} }) }}
                                     {{ form_errors(form.suppLpd) }}
                                </td>
                            <td>{{ ar.arrangement.libelle}}</td>
                            
                            <td>
                              
                                {% if ar.etat==true %}
                                <input id="1" name="1"  type="checkbox"  checked value="1" />
                                {% else %}
                                    <input id="1" name="1"  type="checkbox"   value="1" />
                                {% endif %}
                            </td>
                            </tr>
                                 
                             {% elseif  ar.arrangement.id=='2' and ar2!='1' %}
                                    {% set ar2 = '1' %}
                            <tr>
                                <td>
                                     {{ form_widget(form.suppDp, { 'attr': {'type': 'text', 'class': 'form-control', 'placeholder': ''} }) }}
                                     {{ form_errors(form.suppDp) }}
                                </td>
                            <td>{{ ar.arrangement.libelle}}</td>
                              
                            <td> {% if ar.etat==true %}
                                <input id="2" name="2"  type="checkbox"  checked value="2" />
                                {% else %}
                                    <input id="2" name="2"  type="checkbox"   value="2" />
                                {% endif %}</td>
                            </tr>
                             {% elseif ar.arrangement.id=='3' and ar3!='1' %}
                                    {% set ar3 = '1' %}
                            <tr>
                                <td>
                                     {{ form_widget(form.suppPc, { 'attr': {'type': 'text', 'class': 'form-control', 'placeholder': ''} }) }}
                                     {{ form_errors(form.suppPc) }}
                                </td>
                            <td>{{ ar.arrangement.libelle}}</td>
                            <td> {% if ar.etat==1 %}
                                <input id="3" name="3"  type="checkbox"  checked value="3" />
                                {% else %}
                                    <input id="3" name="3"  type="checkbox"   value="3" />
                                {% endif %}</td>
                            </tr>
                            {% elseif ar.arrangement.id=='4' and ar4!='1' %}
                                    {% set ar4 = '1' %}
                            <tr>
                                <td>
                                     {{ form_widget(form.suppAll, { 'attr': {'type': 'text', 'class': 'form-control', 'placeholder': ''} }) }}
                                     {{ form_errors(form.suppAll) }}
                                </td>
                            <td>{{ ar.arrangement.libelle}}</td>
                            <td> {% if ar.etat==1 %}
                                <input id="4" name="4"  type="checkbox"  checked value="4" />
                                {% else %}
                                    <input id="4" name="4"  type="checkbox"   value="4" />
                                {% endif %}</td>
                            </tr>
                            {% elseif ar.arrangement.id=='5' and ar5!='1' %}
                                    {% set ar5 = '1' %}
                            <tr>
                                <td>
                                     {{ form_widget(form.suppLs, { 'attr': {'type': 'text', 'class': 'form-control', 'placeholder': ''} }) }}
                                     {{ form_errors(form.suppLs) }}
                                </td>
                            <td>{{ ar.arrangement.libelle}}</td>
                            <td> {% if ar.etat==1 %}
                                <input id="5" name="5"  type="checkbox"  checked value="5" />
                                {% else %}
                                    <input id="5" name="5"  type="checkbox"   value="5" />
                                {% endif %}</td>
                            </tr>
                            {% elseif ar.arrangement.id=='6' and ar6!='1' %}
                                    {% set ar6 = '1' %}
                            <tr>
                                <td>
                                     {{ form_widget(form.suppAllSoft, { 'attr': {'type': 'text', 'class': 'form-control', 'placeholder': ''} }) }}
                                     {{ form_errors(form.suppAllSoft) }}
                                </td>
                            <td>{{ ar.arrangement.libelle}}</td>
                            <td> {% if ar.etat==1 %}
                                <input id="6" name="6"  type="checkbox"  checked value="6" />
                                {% else %}
                                    <input id="6" name="6"  type="checkbox"   value="6" />
                                {% endif %}</td>
                            </tr>   
                            {% elseif ar.arrangement.id=='7' and ar7!='1' %}
                                    {% set ar7 = '1' %}
                            <tr>
                                <td>
                                     {{ form_widget(form.suppUltraAll, { 'attr': {'type': 'text', 'class': 'form-control', 'placeholder': ''} }) }}
                                     {{ form_errors(form.suppUltraAll) }}
                                </td>
                            <td>{{ ar.arrangement.libelle}}</td>
                            <td> {% if ar.etat==1 %}
                                <input id="7" name="7"  type="checkbox"  checked value="7" />
                                {% else %}
                                    <input id="7" name="7"  type="checkbox"   value="7" />
                                {% endif %}</td>
                            </tr>
                           {% elseif ar.arrangement.id=='8' and ar8!='1' %}
                                    {% set ar8 = '1' %}
                            <tr>
                                <td>
                                     {{ form_widget(form.suppDpp, { 'attr': {'type': 'text', 'class': 'form-control', 'placeholder': ''} }) }}
                                     {{ form_errors(form.suppDpp) }}
                                </td>
                            <td>{{ ar.arrangement.libelle}}</td>
                            <td> {% if ar.etat==1 %}
                                <input id="8" name="8"  type="checkbox"  checked value="8" />
                                {% else %}
                                    <input id="8" name="8"  type="checkbox"   value="8" />
                                {% endif %}</td>
                            </tr>
                            {% elseif ar.arrangement.id=='9' and ar9!='1' %}
                                    {% set ar9 = '1' %}
                            <tr>
                                <td>
                                     {{ form_widget(form.suppPcp, { 'attr': {'type': 'text', 'class': 'form-control', 'placeholder': ''} }) }}
                                     {{ form_errors(form.suppPcp) }}
                                </td>
                            <td>{{ ar.arrangement.libelle}}</td>
                            <td> {% if ar.etat==1 %}
                                <input id="9" name="9"  type="checkbox"  checked value="9" />
                                {% else %}
                                    <input id="9" name="9"  type="checkbox"   value="9" />
                                {% endif %}</td>
                            </tr>
                            {% endif %}

                            {% endfor %}

                            </table>
                       {{ form_label(form.suppSingle) }}   
                       {{ form_widget(form.suppSingle, { 'attr': {'type': 'text', 'class': 'form-control', 'placeholder': ''} }) }}
                       {{ form_errors(form.suppSingle) }}
                           </div>

                        <div class="form-group">
                       {{ form_label(form.marge) }}  <em>(%)</em> 
                       {{ form_widget(form.marge, { 'attr': {'type': 'text', 'class': 'form-control', 'placeholder': ''} }) }}
                       {{ form_errors(form.marge) }}
                        </div>
                                   
                                  
                        <input id="tarif_submit" class="btn  btn-default" type="submit" value="{{ 'Valider' }}">
                        <input class="btn  btn-default" type="reset" value="{{ 'Annuler' }}">          
                        </div>   

                    </form>

                </div><!-- /.box -->
            </div><!--/.col (right) -->
        </div>   <!-- /.row -->


    </section> 

{% endblock %}
{% block javascript %}
    {{ parent()}}
    <!-- cdn for modernizr, if you haven't included it already -->
<script src="http://cdn.jsdelivr.net/webshim/1.12.4/extras/modernizr-custom.js"></script>
<!-- polyfiller file to detect and load polyfills -->
<script src="http://cdn.jsdelivr.net/webshim/1.12.4/polyfiller.js"></script>
<script>
  webshims.setOptions('waitReady', false);
  webshims.setOptions('forms-ext', {types: 'date'});
  webshims.polyfill('forms forms-ext');
</script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script type="text/javascript">
        function convertDate(inputFormat) {
            function pad(s) { return (s < 10) ? '0' + s : s; }
            var d = new Date(inputFormat);
            return [pad(d.getDate()), pad(d.getMonth()+1), d.getFullYear()].join('-');
          }
        function validateDate()
        {
        var date1 = convertDate($("#details_hotel_tempsd").val());
        var date2 = convertDate($("#details_hotel_tempsf").val());
         var retour = 'debut test';
         if ((typeof date1 != "undefined" && date1 != "") && (typeof date2 != "undefined" && date2 != "")) {
           // OK, ce test est pas fou.
           if (date1.length == 10 && date2.length == 10) {
             var date1Explode = [date1.substring(0,2), date1.substring(3,5), date1.substring(6,10)]; // J'aurais pu utiliser explose()...
             var date2Explode = [date2.substring(0,2), date2.substring(3,5), date2.substring(6,10)];
             var maVraieDate1 = new Date(date1Explode[2], date1Explode[1] - 1, date1Explode[0]);
             var maVraieDate2 = new Date(date2Explode[2], date2Explode[1] - 1, date2Explode[0]);
             //alert('Dates: '+maVraieDate1+' '+maVraieDate2);
             var nbNuits = (maVraieDate2.getTime() - maVraieDate1.getTime())/86400000;

             retour = nbNuits+" nuit";
             if (nbNuits >= 1) {
               retour += "s";
             }
             if (nbNuits < 0) {
               retour = 'La date début doit être antérieure à la date de fin !';
               alert (retour);
               return false;
             }
           }
           else {
             retour = 'Vous n\'avez pas saisi les dates dans un format correct : jj-mm-aaaa.';
             alert (retour);
             return false;
           }
         } else {
           retour = 'Format de(s) date(s) invalide(s)';
           alert (retour);
           return false;
         }
           return true;
        }
        
        $(document).ready(function () {    
       $("#tarif_submit").click(function(event){
           var sc=0;
           if($('#details_hotel_nbChambs').length){
               sc=parseInt($('#details_hotel_nbChambs').val());
           }
           if($('#details_hotel_nbChambd').length){
               sc=sc+parseInt($('#details_hotel_nbChambd').val());
           }
            if($('#details_hotel_nbChambt').length){
               sc=sc+parseInt($('#details_hotel_nbChambt').val());
           }
           if($('#details_hotel_nbChambq').length){
               sc=sc+parseInt($('#details_hotel_nbChambq').val());
           }           
           if((parseInt($('#details_hotel_allot').val())===parseInt(sc))&&(validateDate()))
           {
                return true;
           }else if(!(validateDate())){
                return false;    
           }else if(parseInt($('#details_hotel_allot').val())!=parseInt(sc)){
               alert("Vérifier le nombre des chambres");
                return false;
           }
           return true;
          
});
    });
    </script>
{% endblock%}
